@keyframes moveInLeft {
   0% {
      opacity: 0;
      transform: translateX(-10rem);
   }

   80% {
      transform: translateX(1rem);
   }

   100% {
      opacity: 1;
      transform: translate(0);
   }
}

@keyframes moveInRight {
   0% {
      opacity: 0;
      transform: translateX(10rem);
   }

   80% {
      transform: translateX(-1rem);
   }

   100% {
      opacity: 1;
      transform: translate(0);
   }
}

@keyframes moveInBottom {
   0% {
      opacity: 0;
      transform: translateY(3rem);
   }

   100% {
      opacity: 1;
      transform: translate(0);
   }
}

@keyframes hoverLogo {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 0.5;
      transform: scale(0.9);
   }

   80% {
      transform: scale(1.1) rotate(-360deg);
   }

   100% {
      transform: scale(1) rotate(-360deg);
      opacity: 1;
   }
}
